/* ================= Product ===============*/
.btn-control-large{
    background-color: var(--red);
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 0 20px;
    width: auto!important;
}

.admin-control-right i {
    margin-right: 5px;
}
/* ========== Product ========= */
/* .content.admin-control,
.content.show-product,
.content.page-nav {
    margin-left: 50px;
    margin-right: 50px;
} */
.admin-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.admin-control-center {
    flex: 1;
}

.admin-control-right {
    display: flex;
}
.admin-control-right a {
    display: block;
    width: 40px;
    margin-left: 10px;
    border-radius: 5px;
}
/* .admin-control-right a:hover {
    background-color: #ccc;
    color:#fff
} */

.form-search {
    display: flex;
    justify-content: center;
}

.search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}
.form-search-input {
    height: 40px;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    padding: 10px 20px;
    padding-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 75%;
}

.btn-control-large {
    background: #333;
    height: 40px;
    color: #fff;
    width: auto;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
/* ====== List Product ======= */
.list {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    align-items: center;
    padding-right: 20px;
}

.list-left {
    display: flex;
    width: 80%;
    align-items: center;
}

.list-left img {
    max-width: 130px;
    min-width: 130px;
    height: 110px;
    object-fit: cover;
    margin-right: 14px;
}
.product-name {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 15px;
}
.list-product-desc {
    padding:  0;
    margin-bottom: 10px;
    color: #0000008a;
    font-size: 14px;
    margin-right: 10px;
    -webkit-line-clamp: var(--line-clamp, 3);
    overflow-y: hidden;
}
.product-type {
    display: inline-block;
    margin-top: 10px;
    color: rgb(120, 144, 156);
    font-size: 1.3rem;
    padding: 5px 12px;
    border: 1px solid rgb(176, 190, 197);
    border-radius: 30px;
}

.list-right {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
}

.list-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
}

/* .list-old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #808080;
    margin-right: 10px;
} */

.list-current-price {
    color: #333;
    font-weight: 600;
    padding-bottom: 20px;
}

.list-control {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.btn-detail,
.btn-edit,
.btn-delete {
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    margin-left: 0;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-delete {
    background: #000;
    color: #fff;
}

.list+.list {
    margin-top: 10px;
}

.list-tool {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.btn-detail,
.btn-edit {
    outline: none;
    background-color: #e5e5e5;
    margin-right: 5px;
}
/* ======= Page Nav Product ========== */
.page-nav {
    display: block;
    width: 100%;
    text-align: center;
}
.pages {
    transform: translateX(40%);
    margin-top: 26px;
    display: flex;
    align-items: center;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .4s;
}
.page.previous-page {
    opacity: .3;
}
.page.current-page {
    border: 1px solid #000;
}
.page:hover:not(.current-page) {
    background: #f0f0f0;
}
/* =============== Modal Add Product ============== */
.modal-edit-product,
.modal-add-product {
    position: fixed;
    top: 20%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    width: 800px;
    height: 482px;
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 30px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    transform-origin: center;
}
.edit-checkbox:checked ~ .modal-edit-product,
.modal-checkbox:checked ~ .modal-add-product {
    opacity: 1;
    visibility: visible;
    scale: 1;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4cece;
    border-radius: 50%;
}
.modal-close svg {
    transition: .4s;
}
.modal-close:hover svg {
    rotate: 180deg;
}
.modal-edit-product-title,
.modal-add-product-title {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 8px;
    margin-bottom: 5px;
}
.modal-content {
    min-height: 200px;
}
.edit-product-form,
.add-product-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.modal-content-left {
    border-right: 1px solid rgb(238, 238, 238);
    padding: 0 20px;
}
.upload-img-preview {
    width: 350px;
    margin-top: 20px;
    border-radius: 5px;
}
.form-group.file {
    text-align: center;
    margin-top: 20px;
}
.form-label-file {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 32px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}
.form-label-file svg {
    margin-right: 3px;
    padding-bottom: 5px;
}
.modal-content-right {
    padding: 0 20px;
}
.form-group { 
    margin-bottom: 10px;
}
.form-label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
}
.form-control {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
}
.form-group select {
    color: #000;
}
.product-desc {
    width: 100%;
    height: 100px;
    background: rgb(247, 247, 247);
    font-size: 1.4rem;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    resize: none;
}
.edit-product-submit,
.add-product-submit {
    display: block;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 auto;
    height: 40px;
    background: #000;   
    color: #fff;
    font-size: 1.6rem;
    padding: 10px 30px;
    border-radius: 5px;
}

