*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body::-webkit-scrollbar {
    width: 5px;
    /* height:50px; */
}

body::-webkit-scrollbar-track {
    background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
    /* background: rgba(0, 0, 0, 0); */
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body,input,button,textarea,pre {
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2); /*default: 2*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}
select {
    background-color: #eee;
    color: #333;
    font-weight: 500;
    padding: 10px 50px 10px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 10px;
    height: 40px;
    cursor: pointer;

    appearance: none;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M16.25%207.5L10%2013.75L3.75%207.5%22%20stroke%3D%22%232E2E2E%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 0.3rem center;
}

.sidebar {
    background: #111010;
    color: #fff;
    flex-shrink: 0;
    overflow: hidden;
    width: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: 0;
}

.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.sidebar .petshop-logo {
    display: block;
    width: 30px;
    height: 30px;
    transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .petshop-logo {
    width: 180px;
    height: 70px;
}
.sidebar .petshop-logo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle-sidebar,
.bottom-sidebar {
    width: 100%;
}

.bottom-sidebar {
    margin-top: auto;
    margin-bottom: 14px;
}
.sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
}

.sidebar.open .sidebar-link {
    justify-content: flex-start;
    /* padding-left: 3rem; */
    font-size: 1.6rem;
}

.sidebar-icon {
    font-size: 20px;
    flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.sidebar-link {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    color: var(--light-gray);
    text-decoration: none;
    align-items: center;
    padding-left: 25px;
}

.sidebar-list-item {
    position: relative;
    width: 100%;
    color: var(--light-gray);
}
.sidebar-list-item svg {
    color: white;
}
.sidebar-list-item.active {
    background: #2e313b;
    border-left: 4px solid #fff;
}
.sidebar-list-item.active .sidebar-link {
    margin-left: -4px;
}
.sidebar-list-item.active svg {
    stroke-width: 2.5;
}
.sidebar-list-item.active .hidden-sidebar {
    text-shadow: 0px 0px 1px #fff;
}
.sidebar.open {
    width: 250px;
}

.sidebar.open .top-sidebar {
    height: 125px;
}

.container {
    display: flex;
}

.content {
    width: 100%;
    padding: 20px 20px 0 20px;
    /* background-color: #efeff6; */
    background: #fff;
    overflow: hidden;
}
.content-tittle {
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 10px;
    margin: 0 0 20px 10px;
    border-left: 5px solid #333;

}
.cards {
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.card .card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards .card {
    background: #fff;
    height: 160px;
    padding: 20px 26px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    margin: 12px;
    transition: .4s;   
}
.card:hover {
    transform: translateY(-8px);
}
.card .card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: var(--costomer-bg);
}
.card-tittle {
    font-size: 1.8rem;
    font-weight: 600;
    color: #212b36;
}
.card-amount {
    display: block;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 10px 0;
}
.card-link {
    padding-top: 4px;
    display: block;
    color: #7e65e2;
}
.card-link:hover {
    text-shadow: 0px 0px 1px #b4a9ff;
}
/* ========= Recent Orders =======*/
.recent-orders {
    background: #fff;
    margin: 0 12px;
    padding-bottom: 10px;
}
.recent-order__tittle {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 14px;
    border-bottom: 1px solid #e6e6f2;
}

table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background: #f9f9ff;
}

th, td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    color: #555;
}

td img {
    position: absolute;
    width: 40px;
    height: auto;
    bottom: 4px;
}

tr td:nth-child(5),
tr td:nth-child(4){
    padding-left: 26px;
}
tr td:nth-child(6) {
    padding-right: 20px;
}

.status {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    color: #fff;
}
.status.delivered {
    background-color: rgb(39, 174, 96);
    color: rgb(255, 255, 255);
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
.status.in-transit {    
    margin-left: -5px;
    background-color: rgb(240, 78, 46);
    color: rgb(255, 255, 255);
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
.view-details {
    margin-left: auto;
    margin: 10px 30px 1px auto;
    display: block;
    width: 130px;
    height: 44px;
    text-align: center;
    padding: 12px 16px;
    border-radius: 2px;
    color: #000000;
    background: #fff;
    border: 1px solid #2d2d35;
}

/* customer */
/* .table {
    width: 100%;
    overflow: auto;
    background: #fff;
    border-radius: 7px;
}

.setting {
    position: absolute;
    top:-50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* ================= Product ===============*/
.btn-control-large{
    background-color: var(--red);
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 0 20px;
    width: auto!important;
}

.admin-control-right i {
    margin-right: 5px;
}
/* ========== Product ========= */
section.content {
    padding-left: 50px;
    padding-right: 50px;
}
.admin-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.admin-control-center {
    flex: 1;
}

.admin-control-right {
    display: flex;
}
.admin-control-right a {
    display: block;
    width: 40px;
    margin-left: 10px;
    border-radius: 5px;
}
.admin-control-right a:hover {
    background-color: red;
    color:#fff
}

.form-search {
    display: flex;
    justify-content: center;
}

.search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}
.form-search-input {
    height: 40px;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    padding: 10px 20px;
    padding-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 75%;
}

.btn-control-large {
    background: #333;
    height: 40px;
    color: #fff;
    width: auto;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
/* ====== List Product ======= */
.list {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    align-items: center;
    padding-right: 20px;
}

.list-left {
    display: flex;
    width: 80%;
    align-items: center;
}

.list-left img {
    max-width: 130px;
    min-width: 130px;
    height: 110px;
    object-fit: cover;
    margin-right: 14px;
}
.product-name {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 15px;
}
.list-product-desc {
    padding:  0;
    margin-bottom: 10px;
    color: #0000008a;
    font-size: 14px;
    margin-right: 10px;
    -webkit-line-clamp: var(--line-clamp, 3);
    overflow-y: hidden;
}
.product-type {
    display: inline-block;
    margin-top: 10px;
    color: rgb(120, 144, 156);
    font-size: 1.3rem;
    padding: 5px 12px;
    border: 1px solid rgb(176, 190, 197);
    border-radius: 30px;
}

.list-right {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
}

.list-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
}

/* .list-old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #808080;
    margin-right: 10px;
} */

.list-current-price {
    color: #333;
    font-weight: 600;
    padding-bottom: 20px;
}

.list-control {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.btn-detail,
.btn-edit,
.btn-delete {
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    margin-left: 0;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-delete {
    background: #000;
    color: #fff;
}

.list+.list {
    margin-top: 10px;
}

.list-tool {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.btn-detail,
.btn-edit {
    outline: none;
    background-color: #e5e5e5;
    margin-right: 5px;
}
/* ======= Page Nav Product ========== */
.page-nav {
    display: block;
    width: 100%;
    text-align: center;
}
.pages {
    transform: translateX(40%);
    margin-top: 26px;
    display: flex;
    align-items: center;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .4s;
}
.page.previous-page {
    opacity: .3;
}
.page.current-page {
    border: 1px solid #000;
}
.page:hover:not(.current-page) {
    background: #f0f0f0;
}
