* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
:root {
    --header-color: #060409;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #fafafa;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}
a {
    text-decoration: none;
    color: inherit;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2); /*default: 2*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.container {
    /* max-width: 1360px; */
    max-width: calc(100% - 130px);
    margin-right: auto;
    margin-left: auto;
}
.btn {
    display: inline-block;
    width: 190px;
    height: 55px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #060409;
    border: none;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
    transition: color, background 0.3s;
}
.btn:hover {
    opacity: 0.9;
}

/* ===== HEADER ===== */
.header {
    position: sticky;
    top: -40px;
    width: 100%;
    height: 112px;
    background: var(--header-color);
    z-index: 10;
}
.header-topbar {
    width: 100%;
    height: 40px;
    padding: 8px 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 600;
}
.topbar__tittle {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    color: #ff5238;
}
.topbar__btn {
    min-width: 110px;
    height: 20px;
    padding: 3px 10px;
    font-size: 1.2rem;
    text-align: center;
    background: #060409;
    color: #fff;
    border-radius: 8px;
}
.header__body {
    height: 72px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-color);
    /* overflow: hidden    ; */
}
.logo {
    width: 216px;
    height: 70px;
    object-fit: cover;
}

.header__search {
    margin-left: 10px;
    width: 600px;
}
.search-form {
    position: relative;
}
.search-recommend {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    display: none;
}
.search-recommend__heading {
    padding: 15px 16px;
    border-bottom: 1px solid #e2e8f0;
}
.search-recommend__top-row {
    display: flex;
    color: #a6a6a6;
}
.search-recommend__icon {
    margin-left: auto;
    color: #333;
}
.search-recommend__icon i {
    font-size: 1.9rem;
    margin-right: 4px;
    padding: 4px;
}
.search-recommend__icon i:first-child {
    border: 1px solid #333;
}
.search-recommend__tittle {
    margin-top: 10px;
}
.search-list {
    max-height: 40vh;
    overflow-y: auto;
}
.search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 15px 26px;
    border-top: 1px solid #e2e8f0;
}
.search-item:hover {
    background: #f7f7f7;
}
.search-item__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.search-item__info {
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-item__price {
    color: red;
    font-weight: 500;
}
.search-recommend__bottom {
    cursor: pointer;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e2e8f0;
}
.search-form__input {
    width: 100%;
    height: 44px;
    padding: 0 50px 0 30px;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius: 99px;
}
.search-form__btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 8px;
    width: 44px;
    height: 44px;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(32, 200, 94); */
    border-radius: 0px 200px 200px 0px;
    transition: background 0.25s;
}
.search-form__btn:hover {
    background: #ccc;
}
/* ====== Hotline ======= */
.heahder-right {
    display: flex; 
    align-items: center;
    gap: 40px;
    font-weight: 500;
}
.header__call {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
}
.header-call__icon {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-call__box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header__cta {
    display: flex;
    align-items: center;
}
.header__account {
    width: 70px;
    height: 50px;
    padding: 10px 40px 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-right: 2px solid #fff;
    cursor: pointer;
    z-index: 1;
}
.header__account::before {
    content: "";
    position: absolute;
    display: block;
    left: -26px;
    bottom: -8px;
    right: -75px;
    width: 90px;
    height: 20px;
    background: transparent;
}
.header__account::after {
    position: absolute;
    top: 18px;
    right: 20px;
    content: "";
    width: 4px;
    height: 4px;
    rotate: 136deg;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.header-user {
    font-size: 2rem;
}
.user-title {
    padding-top: 5px;
    font-size: 1.2rem;
    white-space: nowrap
}
.user-box {
    position: absolute;
    z-index: 10;
    top: 58px;
    width: 250px;
    /* height: 200px; */
    min-width: 205px;
    padding: 24px;
    border-radius: 2px;
    background: #fff;
    color: #000;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.header__account:hover .user-box{
    visibility: visible;
    opacity: 1;
}
.user-box__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: #2E2E2E;
    margin-bottom: 20px;
}
.user-box__item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    font-weight: 400;
}
.user-box__content .user-box__item:last-child{
    margin-bottom: 0;
}
.header__cart {
    position: relative;
    font-size: 2rem;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}
.header__cart::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    height: 20px;
    width: 100%;
    background: transparent;
}
.header__cart:hover .cart-box{
    opacity: 1;
    visibility: visible;
    scale: 1;
}
.cart-box {
    position: absolute;
    top: 60px;
    right: 0;
    width: 420px;
    height: 50vh;
    padding: 20px 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    scale: 0;
    transform-origin: calc(100% - 32px) top;
    transition: .25s ease;
}
.cart-box::before {
    content: "";
    position: absolute;
    top: -33px;
    right: 10px;
    border-bottom: 20px solid #fff;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.cart-box__tittle {
    width: 100%;
    text-transform: uppercase;
    color: #060409;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 0 10px;
    border-bottom: 1px solid #e7e7e7;
}
.cart-box__items {
    max-height: 29vh;
    overflow-y: auto;
}
.cart-box__item {
    position: relative;
    padding: 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #e7e7e7;
}
.cart-box__body {
    padding-left: 15px;
}
.cart-box__name {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    /* padding-right: 35px; */
    text-transform: uppercase;
    color: #252a2b;
}
.cart-box-item__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid #ccc;
}
.cart-box__variant {
    margin-top: 10px;
    display: block;
    color: #677279;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 10px;
}
.cart-box__body {
    color: red;
}
.cart-box__bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-box__price {
    color: #000;
    font-size: 1.3rem;
}
.cart-box-item__qty {
    display: flex;
    align-items: center;
}
.cart-box__qty {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.5rem; */
    text-align: center;
    border-radius: 50%;
    background: rgba(107, 68, 51, 0.04);
    border: 1px solid rgba(107, 68, 51, 0.06);
}
.num-qty {
    margin: 0 14px;
    font-size: 1.5rem;
    color: #000;
}

.cart-box__close {
    position: absolute;
    right: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    background: #f4f6fb;
    color: #252a2b;
}
.cart-box__total {
    padding: 0 12px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}
.cart-box__total--text {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #060409;
}
.cart-box__total--price {
    font-size: 1.6rem;
    color: red;
}
.cart-box__btn {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 14px;
    margin-top: 16px;
    width: 94%;
    border: none;
    outline: none;
    height: 36px;
    line-height: 36px;
    background: #060409;
    color: #fff;
}

/* ===== MENU CATAGORY ====== */
.menu-catagory {
    width: 100%;
    height: 50px;
    padding: 8px 0;
    background: var(--header-color);
}
.menu__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 8px;
    color: #fff;
    border-left: 1px solid #fff;
    z-index: 1;
    cursor: pointer;
}
.menu-item:hover .item-down {
    rotate: 180deg;
}
.menu-item:hover {
    color: #f49002;
}
.item-down {
    margin-top: -2px;
    font-size: 1rem;
    transition: 0.25s;
}
.item-right {
    transform: translateY(-1px);
    margin-left: 3px;
    font-size: 9px;
    transform-origin: top;
    transition: 0.25s;
}
.dropdown-item {
    position: relative;
    z-index: 100;
}
.service-cata__dropdown,
.cat-cata__dropdown,
.dog-cata__dropdown {
    position: absolute;
    top: 30px;
    left: 34px;
    min-width: 250px;
    border-top: 2px solid #333;
    z-index: 10;
    color: #333;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    transform-origin: top center;
    animation: rotateMenu 0.4s ease-in-out forwards;
}
.service-cata__dropdown {
    left: 0px;
    min-width: 240px;
}
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
.service-cata:hover .service-cata__dropdown,
.cat-cata:hover .cat-cata__dropdown,
.dog-cata:hover .dog-cata__dropdown {
    display: block;
}
.detail-list {
    position: absolute;
    z-index: 500 !important;
    right: -100%;
    top: 6px;
    min-width: 215px;
    min-height: 70px;
    background: #fff;
    border-top: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    animation: rotateY 0.3s ease-in-out forwards;
    transform-origin: top center;
}
@keyframes rotateY {
    0% {
        transform: rotateY(90deg);
    }
    80% {
        transform: rotateY(-10deg);
    }
    100% {
        transform: rotateY(0);
    }
}
.detail-item {
    color: #303030;
    padding: 14px;
    border-bottom: 1px solid #ccc;
}
.dropdown__item {
    position: relative;
    color: #303030;
    width: 100%;
    padding: 14px;
    border-bottom: 1px solid #ccc;
    display: block;
    opacity: 1;
}
.detail-item:hover a,
.dropdown__item:hover {
    color: #f49002;
}
.dropdown__item:hover .item-right {
    transform-origin: center;
    transform: translateY(3px);
    rotate: -180deg;
}
.dog-cata::after,
.cat-cata::after,
.service-cata::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    top: 14px;
    left: 0;
    background: transparent;
}
.delivery-dropdown__item:hover .delivery-type__list,
.services-dropdown__item:hover .services-type__list,
.health-dropdown__item:hover .health-type__list,
.supplies-dropdown__item:hover .supplies-type__list,
.treats-dropdown__item:hover .treats-type__list,
.food-dropdown__item:hover .food-type__list {
    left: 100%;
    top: -2px;
    display: block;
}
.delivery-type__list,
.services-type__list {
    min-height: 100px;
}

.delivery-dropdown__item:hover .delivery-type__list,
.services-dropdown__item:hover .services-type__list,
.health-dropdown__item:hover .health-type__list,
.supplies-dropdown__item:hover .supplies-type__list,
.treats-dropdown__item:hover .treats-type__list,
.food-dropdown__item:hover .food-type__list {
    display: block;
}

/* Breadcrumb */
.breadcrumb {
    background: #f6f6f6;
    height: 32px;
    padding: 8px 0;
}
.breadcrumb-list {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 1.4rem;
}
.breadcrumb-list .breadcrumb-item:first-child {
    color: #5495ee;
}
.breadcrumb-item.active {
    color: #b0b0b0;
}
/* ========== Your Info ======== */
.your-acc {
    margin: 40px 0;
}
.account-body {
    display: flex;
}
.account-sidebar {
    width: 28%;
    background: #f7f8f9;
}
.account-sidebar__heading {
    position: relative;
    padding: 32px 0;
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 28.8px;
    letter-spacing: 2px;
}
.account-sidebar__heading::after {
    content: "";
    width: 90%;
    height: 4px;
    background: white;
    display: block;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.sidebar__list {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sidebar__item {
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.sidebar__link {
    display: flex;
    align-items: center;
    gap: 16px;
}
.sidebar__item--active {
    background: #fff;
    font-weight: 600;
}
.sidebar-item__img {
    font-weight: 600;
}
.sidebar__item--active .sidebar__link {
    color: #2E2E2E;
}
.account-content {
    padding-left: 80px;
    width: 72%;
}
.acc-content__tittle{
    font-size: 2rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.account-form {
    width: 100%;
}
.item-input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-label {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #868D95;
}
.form-control {
    padding: 12px 16px;
    font-size: 1.4rem;
    color: #2E2E2E;
    height: 42px;
    border-radius: 4px;
    line-height: 14px;
    outline: none;
    box-shadow: none;
    border: 1px solid #868D95;
}
.account-form .item-input-form ~ .item-input-form {
    margin-top: 16px;
}
.item-input-form__btn {
    margin-top: 24px;
    width: 50%;
    height: 42px;
    padding: 11px 10px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #2E2E2E;
    color: #fff;
}

/* ======= Footer ====== */
.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid__full-width {
    width: 100%;
}

.grid__column {
    /* display: block;
    padding-left: 5px;
    padding-right: 5px;
    width: 24%;
    line-height: 2rem;
    margin-left: 12px; */
}
.grid__coluim-link {
    display: inline-block;
}
.footer {
    margin-top: 50px;
    display: grid;
    border-top: 4px solid #060409;
    padding-top: 10px;
}
.footer-logo {
    margin-left: -5px;
}
.footer-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 0;
}
.footer-introduce {
    max-width: 100%;
}
.footer-item span {
    font-size: 1.4rem;
}
.footer-item__link,
.footer-heading,
.footer-introduce {
    font-weight: 400;
    font-size: 1.4rem;
}
.footer-list .footer-item {
    cursor: pointer;
}

.footer-heading {
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 16px;
}

.footer-heading__strong {
    display: inline-block;
    padding-left: 0;
    font-weight: 700;
}

.footer-item_nolist {
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    align-items: center;
    margin-top: 5px;
}

.footer-nolist {
    padding-left: 0;
    list-style: none;
}

.footer-item__link-icon,
.footer-item__icon {
    font-size: 2rem;
}

.footer-logo__link {
    margin-bottom: 5px;
}
.footer-item__link {
    margin-right: 10px;
}
.footer-item__link-icon {
    display: inline-block;
    border: 1px solid black;
    padding: 6px 6px;
    border-radius: 4px;
    transition: background-color 0.4s;
}

.footer-item__link-icon:hover {
    background-color: var(--black-color);
    color: white;
    cursor: pointer;
}

.footer-last {
    display: block;
    height: 100px;
    border-top: 1px solid var(--text-color);
    padding: 12px 0;
    height: 50px;
    margin-top: 25px;
}

.text-algin {
    text-align: center;
}

.footer-last-heading {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 0;
}

.footer-last-heading_nolist {
    list-style: none;
}