* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Quicksand', sans-serif;

    font-weight: 700;
    font-style: normal;
}
a {
    text-decoration: none;
    color: #303030;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);   /*default: 2*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.btn {
    display: inline-block;
    width: 190px;
    height: 55px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 30px;
    background: #ff5b2e;
    cursor: pointer;
    transition: color, background .3s;
}
.btn:hover {
    opacity: .9;
}

/* ===== HEADER ===== */
.header {
    position: sticky;
    top: -40px;
    width: 100%;
    height: 112px;
    background: pink;
    z-index: 10;
}
.header-topbar {
    width: 100%;
    height: 40px;
    padding: 8px 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.topbar__tittle {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ff5238;
}
.topbar__btn {
    min-width: 110px;
    height: 20px;
    padding: 4px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    background: #ff9700;
    color: #fff;
    border-radius: 8px;
}
.header__body {
    height: 72px;
    /* padding: 16px 90px;   */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: pink;
}
.logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.header__search {
    width: 736px;   
}
.search-form {
    position: relative;
}
.search-recommend {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 16px;
}
.search-recommend__heading {
    padding: 15px 16px;
    border-bottom: 1px solid #e2e8f0;
}
.search-recommend__top-row {
    display: flex;
}
.search-recommend__icon {
    margin-left: auto;
}
.search-recommend__icon i {
    font-size: 1.9rem;
    margin-right: 4px;
}
.search-recommend__tittle {
    margin-top: 10px;
}
.search-list {
    max-height: 40vh;
    overflow-y: auto;
}
.search-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 26px;
    border-top: 1px solid #e2e8f0;
}
.search-item__img {
    width:80px;
    height:80px;
    object-fit: cover;
}
.search-item__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-recommend__bottom {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e2e8f0;
}
.search-form__input {
    width: 100%;
    height: 44px;
    padding: 0 50px 0 30px;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius: 99px;
}
.search-form__btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 8px;
    width: 44px;
    height: 44px;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(32, 200, 94); */
    border-radius: 0px 200px 200px 0px;
    transition: background .25s;
}
.search-form__btn:hover {
    background: #ccc;
}
.header__cta {
    display: flex;
    align-items: center;
}
.header__account {
    width: 70px;
    height: 50px;
    padding: 10px 40px 10px 0 ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-right: 2px solid #fff;
    cursor: pointer;
    z-index: 1;

}
.header__account::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -8px;
    right: -75px;
    width: 230px;
    height: 20px;
    background: transparent;
}
.header__account::after {
    position: absolute;
    top: 18px;
    right: 20px;
    content: "";
    width: 4px;
    height: 4px;
    rotate: 136deg;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.header__account:hover  .account-btn {
    visibility: visible;
    opacity: 1;
}
.header-user {
    font-size: 2rem;
}
.user-title {
    padding-top: 5px;
    font-size: 1rem;
}
.header__cart {
    font-size: 2rem;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}
.account-btn, .create-btn {
    width: 100%;
}
.signin-btn {
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
}
.signin-btn:hover {
    background: #fff;
    color: #ff5b2e;
}
.account-btn {
    position: absolute;
    top: 58px;
    width: 230px;
    height: 160px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}
.create-btn {
    margin-top: 20px;
    color: #ff5b2e;
    border: 1px solid #ff5b2e;
    background: #fff;
}
.create-btn:hover {
    background: #ff5b2e;
    color: #fff;
    height: 50px;
}
/* .header__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 10px 0;
} */

/* ===== MENU CATAGORY ====== */
.menu-catagory {
    width: 100%;
    height: 50px;
    padding: 8px 0;
    background: rgb(232, 189, 189);
}
.menu__list {
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item {
    position: relative;
    display: flex;
    align-items: center;    
    padding: 0 40px;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 8px;
    border-left: 1px solid #333;
    z-index: 1;
    cursor: pointer;
}
.menu-item:hover .item-down {
    rotate: 180deg;
}
.menu-item:hover {
    color: #f49002;
}
.item-down {
    margin-top: -2px;
    font-size: 1rem;
    transition: .25s;
}
.item-right {
    transform: translateY(-1px);
    margin-left: 3px;
    font-size: 9px;
    transform-origin: top;
    transition: .25s;
}
.service-cata__dropdown,
.cat-cata__dropdown,
.dog-cata__dropdown{
    position: absolute;
    top: 30px;
    left: 34px;
    min-width: 180px;
    border-top: 2px solid #333;
    color: #333;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: none;
    transform-origin: top center;
    animation: rotateMenu .4s ease-in-out forwards;
}
.service-cata__dropdown {
    left: 0px;
    min-width: 200px;   
}
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}
.service-cata:hover .service-cata__dropdown,
.cat-cata:hover .cat-cata__dropdown,
.dog-cata:hover .dog-cata__dropdown{
    display: block;
}
.detail-list {
    position: absolute;
    z-index: 1;
    right: -100%;
    top: 6px;
    min-width: 215px;
    min-height: 150px;
    background: #fff;
    border-top: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: none;  
    animation: rotateY .3s ease-in-out forwards;
    transform-origin: top center;
}
@keyframes rotateY {
    0% {
        transform: rotateY(90deg)
    }
    80% {
        transform: rotateY(-10deg)
    }
    100% {
        transform: rotateY(0)
    }
}
.detail-item {
    color: #303030;
    padding: 14px;
    border-bottom: 1px solid #ccc;
}
.dropdown__item {
    position: relative;
    color: #303030;
    width: 100%;
    padding: 14px;
    border-bottom: 1px solid #ccc;
    display: block;
    opacity: 1;
}
.detail-item:hover a,
.dropdown__item:hover {
    color: #f49002;
}
.dropdown__item:hover .item-right {
    transform-origin: center;
    transform: translateY(3px);
    rotate: -180deg;
}
.dog-cata::after,.cat-cata::after,
.service-cata::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    top: 14px;
    left: 0;
    background: transparent;
}
.delivery-dropdown__item:hover .delivery-type__list,
.services-dropdown__item:hover .services-type__list,
.health-dropdown__item:hover .health-type__list,
.supplies-dropdown__item:hover .supplies-type__list,
.treats-dropdown__item:hover .treats-type__list,
.food-dropdown__item:hover .food-type__list{
    left: 100%;
    top: -2px;
    display: block;
}
.delivery-type__list ,
.services-type__list {
    min-height: 100px;
}

.delivery-dropdown__item:hover .delivery-type__list,
.services-dropdown__item:hover .services-type__list,
.health-dropdown__item:hover .health-type__list,
.supplies-dropdown__item:hover .supplies-type__list,
.treats-dropdown__item:hover .treats-type__list,
.food-dropdown__item:hover .food-type__list{
    display: block;
}

/* ===== Main Catagory ======= */
.main-cata {
    height: 144px;
    padding: 32px 0 24px ;
}
.main-cata__body{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}
.cata-item {
    height: 112px;
    padding: 16px;
    display: flex;
    background: #f8f7f9;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 3px solid #fff;
    color: #333;
    transition: .4s;
    cursor: pointer;
}
.cata-item:not(.cata-item:first-child):hover {
    border: 3px solid rgb(0, 32, 91);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: rgb(235, 241, 255);
}
.main-cata__body .cata-item:first-child {
    background: #001952;
    color: #fff;
}
.cata-item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cata-item__tittle {
    font-size: 2rem;
    font-weight: 500;
}
.cata-item__desc {
    font-size: 1.6rem;
    font-weight:lighter;
    line-height: 20px;
}
.more-btn {
    text-decoration: underline;
}


/* ===== Top Seller ====== */
.top-seller {
    margin: 20px auto;
}
.top-seller__body {
    height: 480px;
    padding: 15px;
    background: #d0021b;
}
.top-seller__top {
    display: flex;
    align-items: center;
}
.top-seller__count {
    display: flex;
    align-items: center;
}
.top-seller__count-box {
    width: 36px;
    height: 39px;
    border-radius: 4px;
    background: yellow;
    margin-left: 10px;
    text-align: center;
}
.top-seller__tittle {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}
.seller-wrap {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
}
.seller-item {
    height: 330px;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
}
.seller-item:hover .seller-img {
    scale: 1.07;
}
.seller-img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    object-fit: cover;
    transition: .25s;
}
.seller-item__info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.seller-name {
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.25px;
}
.seller-price {
    font-weight: 700;
    font-size: 1.6rem;
}
.seller-cart{
    position: relative;
    z-index: 1;
    margin-top: 4px;
    height: 36px;
    font-size: 1.6rem;
    font-size: 700;
    border-radius: 5px;
    border: 1px solid #ff9700;
    background: #fff;
    transition: .25s;
}
.seller-cart p {
    position: relative;
    z-index: 100;
}
.seller-cart::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 36px;
    background: #f49002;
    transition:  0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), 
    -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.seller-cart:hover::after {
    left: 0;
    width: 100%;
}
.top-seller__action {
    margin-top: 10px;
    text-align: center;
}
.seeall-btn {
    margin-top: 10px;
    display: inline-block;
    width: 324px;
    height: 42px;
    background: #fff;
    color: #ccc;
    line-height: 42px;
}
/* ===== Feature ====== */
.features {
    margin-top: 20px;
    margin-bottom: 20px;
}
.features-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000; 
}
.feature {
    text-align: center;
    padding: 15px;
    width: 30%;
}
.feature:not(:first-child) {
    border-left: 1px solid #000; 
}
.feature__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 80px;            
    height: 80px; 
    border-radius: 50%; 
}
.feature__icon-shipping {
    background-color: #e0f7fa; 
}
.feature__icon-certificate {
    background-color: #fff3e0; 
}
.feature__icon-gift {
    background-color: #fce4ec; 
}
.feature__icon i {
    font-size: 40px; 
    color: #666; 
}
.feature__tittle {
    font-size: 18px;
    margin: 0 0 3px 0; 
}
.feature__desc {
    font-size: 14px;
    color: #666;
    margin:0;
}
/* ======= New Product ====== */
.new-product {
    padding: 50px;
    margin-top: 80px;
}
.new-product__tittle {
    text-align: center;
    color: #333;
    font-family: "Skinlax Bold", sans-serif;
    font-size: 2.3rem;
    line-height: 1.3;
    margin-bottom: 50px;
}
.new-product__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}
.new-product__item{
    position: relative;
    width: 100%;
    height: 392px;
}
.new-item__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.new-item__img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.new-item__info {
    margin-top: 20px;
}
.new-item__name {
    font-size: 1.6rem;
    -webkit-line-clamp: var(--line-clamp, 1);
}
.new-item__price {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.new-item__price--old {
    text-decoration-line: line-through;
    color: #7a7a7a;
}
.new-product__btn {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #333;
}
/* ===== Banner ad ====== */
.ad-img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s ease;
}
.ad-img:hover {
    scale: 0.95;
}
